<!DOCTYPE html>
<html lang="en">
  <head>
    <title>The Colaboration Blog | {Your article title}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="../styles.css" rel="stylesheet" />
  </head>

  <body>
    <div class="wrapper">
      <article>
        <a href="/">Home</a>
        <div class="article-header">
          <h2 class="title">Cristiano Ronaldo storyline</h2>
          <h3 class="author">by Tanatswa Phil Muganga</h3>
        </div>
        <div class="article-body">
            <--All content of your article has to go inside <div class="article-body"></div>. Pragraphs should be wrapped with <p></p> and headings with <h3></h3> or <h4></h4>. Don't worry about the styles, the will be applied automatically.-->
        </div>
      </article>
    </div>
  </body>
</html>
