<!DOCTYPE html>
<html lang="en">
  <head>
    <title>The Colaboration Blog | {Your article title}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="../styles.css" rel="stylesheet" />
  </head>

  <body>
    <div class="wrapper">
      <article>
        <a href="/">Home</a>
        <div class="article-header">
          <h2 class="title">{Your Title}</h2>
          <h3 class="author">by {Your Name}</h3>
        </div>
        <div class="article-body">
          Here goes your article content, dont forget to wrap your headings into
          h3 tags and your text paragraphs into p tags
        </div>
      </article>
    </div>
  </body>
</html>
